#############
# Directories
#############
/__pycache__/
/MNIST_data/
/old/

#############
# Test Files
#############
*skeleton*

#############
# Datadir stuff
#############
# exclude everything
somefolder/*

# exception to the rule
!somefolder/.gitkeep 

