#############
# Directories
#############
/__pycache__/
/MNIST_data/
/old/

#############
# Test Files
#############
*skeleton*

#############
# Datadir stuff
#############
# exclude everything
run_data/*

# exception to the rule
!run_data/.keep 

